{% extends "layout.html" %}
{% from 'main/vector-cards.html' import VectorCards with context %}
{% from 'main/logbook.html' import LogBook with context %}

{% block page_vendor_css %}
{% endblock page_vendor_css %}

{% block page_lvl_css %}
    {{ process_css_sources(src="main/home.css")|safe }}
{% endblock page_lvl_css %}

{% block content %}
    <div id="main" class="main-full">
        <div class="container">
            <div class="row">
                {{ VectorCards() }}
            </div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block page_vendor_js %}
{% endblock page_vendor_js %}

{% block page_lvl_js %}
    {{ process_js_sources(src="main/home.js")|safe }}
{% endblock page_lvl_js %}
