{% from 'main/logbook-rows.html' import LogbookRows with context %}

{% macro LogBook() %}
    <div id="logbook-info-modal" class="modal">
        <div class="modal-content">
            <h6 id="logbook-info-title" class="center"></h6>
            <div class="theme-surface-1 selectable mt-2 padding-1 border-radius-10">
                <code id="logbook-info-code"></code>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div id="activity" class="col s12">
            <div class="activity">
                <div class="row card-filter-container">
                    <div class="col s12 input-field">
          <span><i class="material-icons-outlined prefix card-search-icon">search</i>
          <input type="text" id="feed-filter" class="card-filter" placeholder="Search logbook"></span>
                    </div>
                </div>

                <div id="feed-filters-row" class="row hide">
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s12">
                            <label>Type</label>
                            <select id="feed-type-select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="row scrollbar" id="feed-body" style="max-height: calc(100vh - 330px); min-height: calc(100vh - 330px);">
                    <ul id="feed-rows-ul" class="collection with-header">

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

