{% macro LogbookRows(logbook_items) %}
    {% if logbook_items %}
        {% for item in logbook_items %}
            <div
                    {% if item.log_type == "success" %}
                        class="successful_cmd"
                    {% elif item.log_type == "fail" %}
                        class="failed_cmd"
                    {% endif %} >

                <li class="collection-item feed-item-li">
                    <div class="font-weight-900">
                        <text class="selectable">{{ item.name }}</text> <span class="secondary-content">{{ item.moment }}</span>
                    </div>

                    <div class="row pl-1 pt-1">
                        <i class="material-icons-outlined icon-btn theme-secondary-text show-logbook-info" data-name="{{ item.name }}" data-info="{{ item.info }}">info
                        </i>
                    </div>

                </li>
            </div>
        {% endfor %}
    {% else %}
    {% endif %}

    <script>
        init_logbook();
    </script>
{% endmacro %}

{{ LogbookRows(logbook_items) }}