
{% macro LogBook(vector_id) %}
    <div id="logbook-info-modal" class="modal">
        <div class="modal-content">
            <h6 id="logbook-info-title" class="center"></h6>
            <div class="theme-surface-1 selectable mt-2 padding-1 border-radius-10">
                <code id="logbook-info-code"></code>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="timeline col s12">
            <div class="activity">

                <div id="feed-filters-row" class="row hide">
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s12">
                            <label>Type</label>
                            <select id="feed-type-select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="row scrollbar" id="feed-body">
                    <ul id="feed-rows-ul-{{ vector_id }}" class="collection with-header feed-rows-ul">
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

