{% for script in scripts %}
    <li class="collection-item pt-2 pb-2">
        {{ script.name }} [{{ script.id }}]<br>
        <span class="theme-secondary-text">{{ script.description }}</span>
        <span class="secondary-content" style="position: relative; bottom: 14px;">
            <i class="material-icons-outlined icon-btn edit-script-btn"
               data-id="{{ script.id }}"
               data-commands="{{ script.commands }}"
               data-description="{{ script.description }}"
               data-args="{{ script.args }}"
               data-name="{{ script.name }}">edit</i>
        </span>
    </li>

    <script>
        init_scripts()
    </script>
{% endfor %}