{% from 'global_macros.html' import preload_circle, input, button %}
{% macro VectorCards() %}
    {% for vector in vectors %}
        <div class="col s12 m6 l4 xl3">
            <div class="card vector-card">
                <div class="card-content">
                    <div class="row center-align">
                        <img id="status-connected-{{ vector.name }}" src="static/images/icons/vector.svg" height="80px">
                        <h5 id="status-name-{{ vector.name }}">Waiting for Vector</h5>
                    </div>

                    <div class="row" style="min-height: 28px; position: relative;">
                        <div class="progress vector-busy hide" vector_id="{{ vector.id }}" style="position: absolute; bottom: 0">
                            <div class="indeterminate"></div>
                        </div>
                    </div>

                    <div class="row card-filter-container">
                        <div class="col s12 input-field mt-0">
                        <span>
                            <i class="material-icons prefix card-search-icon">chevron_right</i>
                            <input type="text" id="command-bar-{{ vector.name }}" class="card-filter command-bar" placeholder="Run a plugin" data-id="{{ vector.id }}">
                        </span>
                        </div>
                    </div>

                    <div id="run-plugin-row-{{ vector.id }}" class="row hide">
                        <div class="col s12">
                            <h6 id="run-plugin-title-{{ vector.id }}" class="center-align font-weight-600"></h6>
                            <form id="run-plugin-form-{{ vector.id }}">
                            </form>
                            <div class="center-align mb-4">
                                {{ button(
                                icon="close",
                                float="center",
                                class="cancel-run-plugin-btn",
                                data={"id": vector.id},
                                text="cancel"
                                ) }}
                                {{ button(
                                data={"url": url_for('main.run'), "id": vector.id},
                                class="run-plugin-btn",
                                icon="send",
                                float="center",
                                text="run"
                                ) }}
                            </div>
                        </div>
                    </div>

                    <div class="row center-align plugin-icons-container" vector_id="{{ vector.id }}">
{#                        <i id="" class="material-icons-outlined theme-secondary-text icon-btn" >settings</i>#}
                        {% for icon_set in plugin_icons %}
                            {% if icon_set %}
                                {% for icon in icon_set %}
                                    {% if icon %}
                                        <text class="theme-secondary-text">
                                            <i class="material-icons-outlined icon-btn plugin-btn {{ icon['class'] }} tooltipped"
                                                data-position="top" data-tooltip="{{ icon['tooltip'] }}">{{ icon['mdi_class'] }}</i>
                                        </text>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="plugin-panels-container" vector_id="{{ vector.id }}">
                        {{ plugin_panels|safe }}
                    </div>
{##}
{#                    <div id="status-video-feed-row-{{ vector.id }}" class="status-tabs-{{ vector.id }} hide">#}
{#                        <div class="divider"></div>#}
{#                        <div class="row mt-2 center-align">#}
{#                            <img id="status-video-feed-{{ vector.id }}"#}
{#                                 style="margin-left: -5px;"#}
{#                                 src="static/images/ajax-loader.gif"#}
{#                                 class="status-video-feed"#}
{#                                 width="100%"#}
{#                                 data-id="{{ vector.id }}"#}
{#                                 data-url="{{ url_for("main.video_feed", vector_id=vector.id) }}">#}
{#                            <div id="video-feed-preload-circle-{{ vector.id }}" class="hide">#}
{#                                {{ preload_circle() }}#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="divider"></div>#}
{##}
{#                        <div class="row center-align">#}
{#                            <i class="status-close-video-feed material-icons-outlined theme-secondary-text icon-btn" data-id="{{ vector.id }}" data-name="{{ vector.name }}">close</i>#}
{#                        </div>#}
{#                    </div>#}
{#                    #}


                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}